{% extends "wedding_look/base.html" %}
{% load static %}
{% block content %}
     <div class="about_us_title mb-1">


            <!-- <img id="left_flower" src="pic/1flower.png" alt="" height="304" width="200">
            <img id="right_flower" src="pic/2flower.png" alt="" height="304" width="200"> -->
        </div>
        <div class="container ">
            <div class="row">
                <div class="col-9 about_us_text d-flex align-items-center">
                    <p>Привет, нас зовут Юля и Никита. В прошлом году мы сами были женихом и невестой и так прониклись
                        подготовкой, что она нас не отпустила. <br>
                        <br>
                        Подход северной столицы к сервису очень откликнулся, захотелось привезти его в Барнаул. Мы
                        решили создать то место, где каждая невеста будет окружена заботой, где она не будет стесняться
                        задавать любые вопросы, будто секретничает с лучшей подругой.
                    </p>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img src="{% static 'wedding_look/pic/ulya_nikita.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text pic_text">Даже в медовый месяц мы ходили по свадебным салонам в Питере.
                                Настолько затянуло!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-3 pt-3">
                    <div class="card">
                        <img src="{% static 'wedding_look/pic/she.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text pic_text">И естественно, придя на примерку в салон, ты встретишь меня, а
                                еще пообщаешься со мной во всех социальных сетях.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-9 about_us_text pt-3 d-flex align-items-center">
                    <p>Совсем недавно я тоже была в роли невесты и как никто понимаю тебя! А если учесть, что свадьбу мы
                        организовывали самостоятельно, то все тонкости подготовки я испытала на себе. <br>
                        <br>
                        Открывая салон я старалась учесть все, чего мне, как невесте, очень не хватало в подготовке. Я
                        старалась подобрать такой ассортимент, чтобы придя в салон и примерив красивое современное
                        платье, тебе не пришлось его снимать и продолжать поиски дальше, только потому что стоимость его
                        неподъемная. Мы ищем баланс между ценой и качеством, поэтому долгими ночами тщательно выбираем
                        поставщиков для пополнения коллекции.
                    </p>
                </div>
                <div class="col-9 about_us_text pt-3 d-flex align-items-center">
                    <p>Мы идем на встречу к каждой с индивидуальным подходом.
                        Кому-то я помогу найти автобус до площадки, а кому-то написать клятву на церемонию)) да-да, мы
                        можем просто поболтать обо всем!) Своих невест никогда не бросим и успокоим в самую трудную
                        минуту! <br>
                        <br>
                        Wedding Look - это про заботу. Тебя никогда не заставят всяческими уловками купить то, в чем ты
                        сомневаешься. Твое платье будет осознанным и взвешенным выбором, который будет исходить от
                        сердца.
                        Мы здесь - твои помощники.
                    </p>
                </div>
                <div class="col-3 pt-3">
                    <div class="card">
                        <img src="{% static 'wedding_look/pic/he.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text pic_text">Мы ищем баланс между ценой и качеством, поэтому долгими ночами
                                тщательно выбираем поставщиков для пополнения коллекции.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
{% endblock %}